textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#output, #result, #score {
    margin-top: 20px;
}
pre {
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
}
#errorslist th, #errorslist td {
    padding: 10px; /* Hücre içindeki boşluk */
}
